body{
font-family: courier;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
color: white;
text-align: center;
}

#pfp{
width: 280px;
border-radius: 140px;
border: solid 5px pink;
}

button{
border-radius: 50px;
border: solid 3px pink;
margin-top: 15px;
font-size: 15px;
background-color: white;
}



#title {
border: solid pink 3px;
border-radius: 15px;
padding: 3px 90px 3px 90px;
font-size: 30px;
background-color: white;
font-family: Courier ;
color: teal;
display: inline-block;
}
