body{
font-family: courier;
background-color: teal;
color: white;
text-align: center;
}

#pfp{
width: 280px;
border-radius: 140px;
border: solid 5px pink;
}

button{
border-radius: 50px;
border: solid 3px pink;
margin-top: 15px;
font-size: 15px;
background-color: white;
}

a{
color: teal;
font-weight: bold;
}

#title {
border: solid pink 3px;
border-radius: 15px;
padding: 3px 90px 3px 90px;
font-size: 30px;
background-color: white;
font-family: Courier ;
color: teal;
display: inline-block;
}
